@import "tailwindcss";

html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #0f172a 0%, #000000 100%);
  margin: 0;
  padding: 0;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
